html{
    scroll-behavior: smooth;
}
@media only screen 
and (max-device-height: 1024px) and (max-device-width: 1024px){
    .s1 {
        background-attachment: scroll;
        background-size: auto 100%;
    }
    #head {
        padding-top: 0;
    }
    .links {
        display:flex;
        flex-direction: column;
        margin-top: 0;
        margin-bottom: 0;
    }
    .links a{
        margin-top:0;
        margin-bottom:0;
        padding-top:0;
        padding-bottom: 0;
    }
}
@media (max-width: 767px) {
    .socials {
      display: none !important;
    }
  }
body {
    background-color: rgb(250, 242, 242);
    font-family: 'Manjari', sans-serif;
    align-items: center;
    align-content: center;
    text-align: center;
    color:rgb(102, 111, 124);
}
.page {
    margin: auto;
    overflow: hidden;
  }
#top{
    height: 100vh;
    padding-top: 15vh;
}
header {
    padding: 15px 0px 0px 15px;
    font-size: 8vh;
}
.links{
    margin-top: 30px;
    margin-bottom: 30px;
}
a {
    padding: 30px;
    font-size: 2vh;
}
a:link {
    color:rgb(133, 152, 179);
}
a:hover{
    color:rgb(235, 207, 207);
}
a:visited{
    color:rgb(155, 104, 104);
}
h1{
    font-size: 5vh;
    margin-right: 5vh;
    margin-left: 5vh;
}
h1.splitting {
    color: saturate(lighten(#182952,55%),60%);
}
.char {
    transition: transform .3s cubic-bezier(.3, 0, .3, 1), opacity .3s linear;
    transition-delay: calc( 20ms * var(--char-index) );
}
[data-scroll="out"] .char {
    opacity: 0.1;
    transform: translateY( .25em );
}
p{
    font-size: 2vh;
    margin-right: 5vh;
    margin-left: 5vh;
}
ul{
    font-size: 2vh;
    margin-right: 5vh;
    margin-left: 5vh;
}
li{
    padding-bottom: 2vh;
}
.s1 {
    padding: 50px 0px 50px;
    height: 100%;
    background-attachment: fixed;
    background-image: url("pics/sky.png");
    background-repeat:no-repeat;
    background-size: cover;
}
.s2{
    padding: 130px 0px 130px;
    background-color:rgba(240, 248, 255, .85);
    margin-bottom: 50px;
    height: 100vh;
}
.pic{
    width: 25vh;
    height: 25vh;
}
.box1{
    float:left;
    height: 80vh;
    width: 40vw;
    background-color: rgba(243, 220, 223, 0.8);
    border-radius: 25px;
    margin-left: 10vh;
}
.box2{
    float:right;
    height: 80vh;
    width: 40vw;
    background-color: rgba(243, 220, 223, 0.8);
    border-radius: 25px;
    margin-right: 10vh;
}